.container {
    display: flex;
    flex-direction: column;
    gap: 18px;
    color: #1b1d4b;
}

.cards-group {
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
}

.res-card {
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1); /* Drop shadow */
    min-width: 250px;
    height: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 8px; /* Rounded corners */
    border: 1px solid #eee; /* Thin grey border */
}

.date {
}

.time {
    font-size: 1.5rem;
    font-weight: 500;
}

.mode-name {
    font-weight: 800;
    font-size: 1.6rem;
    font-style: italic;
    padding-bottom: 8px;
}

h3 {
    font-size: 1.5rem;
    color: #24bdf9;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.header a {
    background-color: #42df6f;
    color: black;
    padding: 6px 9px;
    font-weight: 600;
    border-radius: 5px;
    text-decoration: none;
    box-shadow: 1px 3px 0 rgba(0, 0, 0, 1);
}

input[type="submit"] {
    width: 150px;
    height: 30px;
    border-radius: 8px;
    background-color: #1b1d4b;
    color: white;
}
