.container {
    display: flex;
    justify-content: center;
    gap: 20%;
    flex-wrap: wrap;
}

.radio-card-group {
    display: flex;
    flex-direction: column;
    gap: 5px; /* Spacing between cards */
    margin-bottom: 30px;
}

.radio-card {
    display: flex;
    align-items: center;

    gap: 20px;
    width: 250px;
    height: 50px;
    border: 2px solid #eee;
    border-radius: 8px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
    cursor: pointer;
    text-align: center;
    font-weight: bold;
}

/* Hover effect */
.radio-card:hover {
    border-color: #1b1d4b; /* Example hover color */
    background-color: #f0f0f0;
}

/* Ensuring input is not visible */
input[type="radio"] {
    display: none;
}

/* Style for checked state */
input[type="radio"]:checked + label {
    border-color: #1b1d4b; /* Active border color */
    border-width: 2px;
    background-color: #edf4f7; /* Active background color */
}

i {
    font-size: 2rem;
    margin-left: 20px;
}

h2 {
    font-size: 1.5rem;
    color: #24bdf9;
    margin-bottom: 15px;
}

input[type="submit"] {
    width: 200px;
    height: 30px;
    border-radius: 8px;
    background-color: #1b1d4b;
    color: white;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-left {
    margin-bottom: 30px;
}
